/*Responsive/*

/* Extra Extra Large: 1400px-*/
@media (min-width:1400px){
    .container {

		max-width: 1320px;
    }
}

/* Extra Large: 1200px-1400px*/
@media (max-width:1399px){
    .container {
		max-width:1140px;
    }
}

/* Large: 992px - 1199px */
@media (max-width: 1199px){
    .container {
		max-width: 960px;
    }
    .catalog-item{
      max-width: 220px;
    }

   
}

/* Medium: 768px - 991px */
@media (max-width: 991px){
    .container {
        max-width: 720px;
    }
   
}
/* Small: 576px - 767px */
@media (max-width: 767px){
  .container {
	  max-width: 540px;
  }
    .catalog-wrapper{
      flex-direction: column;
    }
    .catalog-filter{
      max-width: 100%;
    }
    .list{
        width: 100%;
        &__item{
          max-width: 100%;
        }
    }
    .catalog-content{
      margin-left: 0;
      justify-content: center;
    }
}
/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px){
    .container {
        width: auto;
        padding: 0 15px;
	}

}